<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Kysymykset</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <h2>Kysymykset</h2>

        <table>
            <tr th:each="kurssi: ${kurssit}">
                <td>
                    <h3>Kurssi: <span th:text="${kurssi.nimi}"></span></h3>

                    <!-- Taulu -->
                    <table>
                        
                        <!-- Taulun rivi -->
                        <tr th:each="aihe: ${kurssi.aiheet}">
                            
                            <!-- Yhden rivin yksi solu -->
                            <td>
                                <h4>Aihe: <span th:text="${aihe.nimi}"></span></h4>

                                <!-- Unorderedlist -->
                                <ul>
                                    <!-- List item -->
                                    <li th:each="kysymys: ${aihe.kysymykset}">
                                        <form method="POST" th:action="@{~/kysymys/delete/{id}(id=${kysymys.id})}">
                                            <!-- Linkki yhden kysymyksen nakymaan -->
                                            <a th:href="@{~/kysymys/{id}(id=${kysymys.id})}" th:text="${kysymys.kysymysTeksti}"></a>
                                            <!-- Poista kysymys -nappi -->
                                            <input type="submit" value="Poista"/>
                                        </form>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <form method="POST" action="/kysymys">
            <table>
                <tr>
                    <td>
                        <label>Kurssi:</label>
                    </td>
                    <td>
                        <input type="text" name="kurssiNimi"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Aihe:</label>
                    </td>
                    <td>
                        <input type="text" name="aiheNimi" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Kysymysteksti:</label>
                    </td>
                    <td>
                        <input type="text" name="kysymysteksti" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Luo"/>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
